<div class="container">

    <h3>Blood pressure</h3>

    <div id="graph" class="container" style="width:1000px;height:500px;"></div>

    <p>
        <span id="hoverdata"></span>
        <span id="clickdata"></span>
    </p>

    <p>Show data: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"></p>
    <p>
    <table class="table" ng-show="checked">
        <tr ng-repeat="d in systolic">
            <td>{{d | json}}</td>
    </tr>
    </table>
    <table class="table" ng-show="checked">
        <tr ng-repeat="d in diastolic">
            <td>{{d | json}}</td>
        </tr>
    </table>
    </p>
    <pre ng-show="checked">{{data | json}}</pre>

</div>