<div class="container">
    <!--<p><a class="btn btn-default btn-block" href="#/list">Back</a></p>-->

    <!--<p><button class="btn btn-default btn-block" ng-click="navigate('bp')">Blood pressure</button> </p>-->
    <!--<p><button class="btn btn-default btn-block" ng-click="navigate('pox')">Pulse Oximeter</button> </p>glyphicon glyphicon-heart-empty-->
<h3>Patient: {{patient.name[0].given[0]}}&nbsp;{{patient.name[0].family[0]}}</h3>

    <p>
    <form>
        <div class="form-group">
            <label for="given">Identity (must have at least one non-digit character)</label>
            <input type="text" class="form-control" id="id" ng-model="patient.id" placeholder="Identity">
        </div>
        <div class="form-group">
            <label for="given">Given name</label>
            <input type="text" class="form-control" id="given" ng-model="patient.name[0].given" placeholder="Given name">
            </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" ng-model="patient.name[0].family" placeholder="Family name">
        </div>
        <div class="form-group">
            <label for="birthDate">Birthdate</label>
            <input type="text" class="form-control" id="birthDate" ng-model="patient.birthDate" placeholder="Birthdate">
            <p class="help-block">Format: 2015-06-20</p>
        </div>

        <button type="submit" class="btn btn-default" ng-click="createPatient(patient.id, patient.name[0].family, patient.name[0].given, patient.birthDate)">Save</button>
    </form>
    </p>

    <p>Show raw patient data: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"></p>
    <pre ng-show="checked">{{patient | json}}</pre>
</div>