
    <h3>Patients</h3>

    <table class="table table-hover table-striped">
        <tr ng-repeat="p in patientList.entry | patientListFilter">
            <td><i class="fa fa-user"></i></span></td>
            <td>
                <div>{{p.family}}, {{p.given}}</div>
            </td>
            <td>{{p.birthDate}}</td>
            <td>
                <button class="btn btn-default btn-block" ng-click="navigate(p.id,'pox')">View data</button>
                </td>
            <td>
                <button class="btn btn-default" ng-click="viewPatient(p.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
            </td>
    </table>

    <!--<div><pre>{{patientList | json}}</pre></div>-->
