<div class="container">
    <h3>Edit JSON </h3>
    <form class="form-inline">
        <p>
        <div class="form-group">
            <label for="fhirUrl">Server address:</label>
            <input size="100" type="text" class="form-control" id="fhirUrl" placeholder="http://..." ng-model="settings.fhirUrl">
        </div>
        </p>
        <p>
        <div class="form-group">
            <label for="method">Method:</label>
            <input type="text" class="form-control" value="POST" id="method" placeholder="POST" ng-model="method">
        </div>
        </p>
        <p>
        <div class="form-group">
            <p><label for="json">JSON:</label></p>
            <textarea  rows="20" cols="100" class="form-control" id="json" ng-model="json"></textarea>
        </div>
        </p>
        <p><button class="btn btn-default" ng-click="sendToServer(method, settings.fhirUrl, json)">Send to server</button></p>
    </form>
    </p>
</div>
