<div class="container">
    <!--<p><a class="btn btn-default btn-block" href="#/list">Back</a></p>-->

    <!--<p><button class="btn btn-default btn-block" ng-click="navigate('bp')">Blood pressure</button> </p>-->
    <!--<p><button class="btn btn-default btn-block" ng-click="navigate('pox')">Pulse Oximeter</button> </p>glyphicon glyphicon-heart-empty-->
<h3>Patient: {{patient.name[0].given[0]}}&nbsp;{{patient.name[0].family[0]}}</h3>
<!--
    <table class="table table-hover table-striped">
        <tr  ng-click="navigate('pox')">
            <td><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></td>
            <td>Pulse Oximeter</td>
            <td><button class="btn btn-block btn-default">Press to view pulse oximeter data</button> </td></tr>
    </table>
-->
    <p>
    <form>
        <div class="form-group">
            <label for="given">Given name</label>
            <input type="text" class="form-control" id="given" ng-model="patient.name[0].given" placeholder="Given name">
            </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" ng-model="patient.name[0].family" placeholder="Family name">
        </div>
        <div class="form-group">
            <label for="birthDate">Birthdate</label>
            <input type="text" class="form-control" id="birthDate" ng-model="patient.birthDate" placeholder="Birthdate">
            <p class="help-block">Format: 20150620</p>
        </div>
        <div class="form-group">
            <label for="phone">Phone ({{patient.telecom[0].use}})</label>
            <input type="text" class="form-control" id="phone" ng-model="patient.telecom[0].value" placeholder="Phone">
            <p class="help-block">Start with + and the country code. For example: +471234556</p>
        </div>

        <div class="form-group">
            <label for="address.line1">Address street</label>
            <input type="text" class="form-control" id="address.line1" ng-model="patient.address[0].line[0]" placeholder="Address line 1">
        </div>

        <div class="form-group">
            <label for="address.city">City</label>
            <input type="text" class="form-control" id="address.city" ng-model="patient.address[0].city" placeholder="City">
        </div>

        <div class="form-group">
            <label for="address.state">State</label>
            <input type="text" class="form-control" id="address.state" ng-model="patient.address[0].state" placeholder="State">
        </div>

        <div class="form-group">
            <label for="address.postcode">Postal code</label>
            <input type="text" class="form-control" id="address.postcode" ng-model="patient.address[0].postalCode" placeholder="Postal code">
        </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default" ng-click="savePatient(patient)">Save</button>
    </div>


    <div class="form-group">
        <label for="delpat">Delete patient or observations</label>
        <input type="checkbox" id="delpat" ng-model="showDeletePatient" aria-label="Toggle ngShow">

    </div>

    <div ng-show="showDeletePatient" class="form-group">
        <label for="delpat2">Press button to delete patient</label>
        <button id="delpat2" type="submit" class="btn btn-danger" ng-click="delete(patient)">Delete patient (Warning. No way back!)</button>
    </div>

    </form>
    </p>

    <form ng-show="showDeletePatient">
        <div class="form-group">
            <label for="observationn-delete">Observation code to delete:</label>
            <input type="text" class="form-control" id="observationn-delete" ng-model="observationCode" placeholder="code">
        </div>
        <div class="form-group">
            <button class="btn btn-danger" ng-click="deleteObservation(observationCode)">Delete all observations with this code, for this patient (Warning. No way back!)</button>
        </div>
    </form>

    <p>Show raw patient data: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"></p>
    <pre ng-show="checked">{{patient | json}}</pre>
</div>