
    <h3>Measurements</h3>
    <div ng-hide="noData">
        <label ng-show="hasData.pulse" class="btn btn-primary"><input type="checkbox" ng-model="show.pulse">&nbsp;&nbsp;<i class="fa fa-heartbeat"></i>&nbsp;Pulse</label>
        <label ng-show="hasData.SpO2" class="btn btn-primary"><input type="checkbox" ng-model="show.SpO2">&nbsp;&nbsp;<i class="fa fa-adjust"></i>&nbsp;&nbsp;SpO2</label>
        <label ng-show="hasData.systolic" class="btn btn-primary"><input type="checkbox" ng-model="show.systolic">&nbsp;&nbsp;<i class="fa fa-heart"></i>&nbsp;<i class="fa fa-angle-up"></i>&nbsp;&nbsp;Blood Pressure Systolic</label>
        <label ng-show="hasData.diastolic" class="btn btn-primary"><input type="checkbox" ng-model="show.diastolic">&nbsp;&nbsp;<i class="fa fa-heart"></i>&nbsp;<i class="fa fa-angle-down"></i>&nbsp;&nbsp;Blood Pressure Diastolic</label>
        <label ng-show="hasData.weight" class="btn btn-primary"><input type="checkbox" ng-model="show.weight">&nbsp;&nbsp;<i class="fa fa-balance-scale"></i>&nbsp;&nbsp;Weight</label>
        <button class="btn btn-default" ng-click="resetGraph()">Redraw graph</button>
        &nbsp;
    </div>

    <div class="alert alert-warning" role="alert" ng-show="message.loading">{{message.loading}}</div>

    <div ng-show="loading" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
            <span class="sr-only">100% Complete</span>
        </div>
    </div>

    <br/>

    <!--<div ng-hide="noData" id="graph" class="container" style="width:1000px;height:500px;"></div>-->
    <!--<div ng-hide="noData" id="graphx" class="container" style="width:100%;height:500px;"></div>-->

    <div ng-hide="message.loading" id="graph"style="width:100%;height:500px;"></div>

    <!--<p>
        <span ng-model="hoverData" id="hoverdata">{{hoverdata}}</span>
    </p>-->
    <p>&nbsp;</p>
    <div ng-show="clickData" id="clickdata" class="alert alert-info" role="alert">{{clickData}}</div>

    <button class="btn btn-default" ng-click="viewPatient()"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit patient</button>
    <p>&nbsp;</p>
    <p>Show raw data and delete button: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"></p>

    <div ng-show="checked"><p>
        <button ng-click="deleteSelected()">Delete selected value</button>
    </p></div>

    <pre ng-show="checked">{{selectedResource | json}}</pre>


    <pre ng-show="checked">{{observations | json}}</pre>

    <pre ng-show="checked">{{data | json}}</pre>
    <!--
    <p>
    <table class="table" ng-show="checked">
        <tr ng-repeat="d in systolic">
            <td>{{d | json}}</td>
    </tr>
    </table>
    <table class="table" ng-show="checked">
        <tr ng-repeat="d in diastolic">
            <td>{{d | json}}</td>
        </tr>
    </table>
    </p>
    <pre ng-show="checked">{{data | json}}</pre>-->
