<div class="container">
    <h3>Settings</h3>
    <form class="form-inline">
        <div class="form-group">
            <label for="fhirUrl">Server address:</label>
            <input type="text" size="100" class="form-control" id="fhirUrl" placeholder="http://..." ng-model="settings.fhirUrl">
        </div>
        <button id="save" type="submit" class="btn btn-default" ng-click="saveSettings()">Save</button>
    </form>
    </p>

</div>