
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Twitter bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- This is the latest version of angular (at the time this template was created) -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>

    <!--
    <script src="//rawgit.com/kentcdodds/apiCheck.js/master/dist/api-check.js"></script>
    <script src="//rawgit.com/formly-js/angular-formly/latest/dist/formly.js"></script>
    <script src="//rawgit.com/formly-js/angular-formly-templates-bootstrap/master/dist/angular-formly-templates-bootstrap.js"></script>
    -->

    <script src="js/init.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <!--<script src="../../../js/fhir-client.js"></script>-->
    <!--<script src="bower_components/json-query/index.js"></script>-->
    <title>Continua FHIR Demo</title>

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="continuaDemo">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Continua FHIR Demo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/list">Dashboard</a></li>
                <li><a href="#/settings">Settings</a></li>
                <!--<li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>-->
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-controller="ListController">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
            <h3>Patients</h3>
            <p/>

            <ul class="nav nav-sidebar table-hover" ng-repeat="p in patientList.entry | patientListFilter">
                <li>
                    <button class="btn btn-default btn-block btn-primary" ng-click="navigate(p.id,'pox')">{{p.family}}, {{p.given}}</button>
                    <!--<a ng-click="navigate(p.id,'pox')"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{{p.family}}, {{p.given}}</a>-->
                    <!--<button class="btn btn-default" ng-click="navigate(p.id,'pox')"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></button>-->
                    <!--<button class="btn btn-default btn-block" ng-click="viewPatient(p.id)">View</button>-->
                </li>
            </ul>
            <p/><p/><p/><p/>
            <ul class="nav nav-sidebar table-hover" >
                <li>
                    <button class="btn btn-default btn-block" ng-click="navigate(p.id,'createPatient')">Create patient</button>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ng-view/>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!--<script src="../../assets/js/vendor/holder.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->


<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/bp_controller.js"></script>
<script src="js/pox_controller.js"></script>
<script src="js/metal.js"></script>

<!--<script src="js/socket.io-1.3.5.js"></script>
<script src="bower_components/angular-socket-io/socket.min.js"></script>-->

<!--<script src="bower_components/ng-websocket/ng-websocket.js"></script>-->

<!--<script src="https://cdn.rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.min.js"></script>-->
<script src="bower_components/flot/jquery.flot.js"></script>
<script src="bower_components/flot/jquery.flot.time.js"></script>
<script src="bower_components/flot/jquery.flot.resize.js"></script>
<script src="bower_components/flot/jquery.flot.selection.js"></script>
<script src="bower_components/flot/jquery.flot.errorbars.js"></script>

</body>
</html>
